.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
*.so
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
.ruff_cache/
tests/
python-template/
.gitignore
.pre-commit-config.yaml
SECURITY.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
EXAMPLE_README.md 